<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="br.com.veronica.meupet" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@android:style/Theme.Holo.Light">
        <activity 
            android:label="@string/app_name" 
            android:name=".PrincipalActivity">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login_Activity"></activity>
        <activity android:name=".Servico_Activity"/>
        <activity android:name=".Meupet_Activity"/>
        <activity android:name=".Contato_Activity"/>
        <activity android:name=".Sobre_Activity"/>
    </application>
</manifest>
